<ion-pane>
    <div class="bar bar-header">
          <h1 class="title">PreviouslyOn</h1>
    </div>
    <ion-content class="lol" zooming=true direction="y">
        <p>{{ erreur }}</p>
        <img alt="image" src="{{image}}" width="500">
        <p class="title">{{title}} </p>
        <br>
        <p>Nombre de saison : {{ season }}</p>
        <br>
        <p>Nombre d'épisodes : {{ episodes }}</p>
        <br>
        <p>Durée des épisodes : {{ dure }} heures</p>
        <br>
        <p> Note : {{ note }} /5</p>
        <br>
        <p>Résumé : {{ description }}</p>
        <br>
        <p>Genre : {{ genre }}</p>
    </ion-content>
</ion-pane>